//Splash Photo and Headline

#splash {
  width: 100%;
}

.headline-copy {
  @extend .small-10;
  margin: auto;
  max-width: 900px;

}

#headline p {
  font-size: 1.45em;
}

//Blog

.blog-link {
  position: relative;
  display: block;
  background-color:#000;
  height: 100%;
}

//on hover hide image and show title
.blog-link:hover .blog-image {
  opacity: 0;
}

.blog-link:hover .blog-title {
  opacity: 1;
}

.blog-title {
  position: absolute;
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%);/* Safari */
}

//Project Section

.project {
  @extend .small-12, .medium-4;
  display: block;
  width:324px;
  height:216px;
  margin: 20px auto;
  img {
    padding: 15px;
  }
}

.project-mujeres-cambia {
  background: url(/assets/images/FeaturedHoverMujeresCambiaNEW.jpg) bottom;
  &:hover {
  background-position: 0 0;
  }
}

.project-why-art-matters {
  background: url(/assets/images/FeaturedHoverWhyArtsNEW.jpg) bottom;
  &:hover {
  background-position: 0 0;
  }
}

.project-peace-corps {
  background: url(/assets/images/FeaturedHoverPeaceCorpsNEW.jpg) bottom;
  &:hover {
  background-position: 0 0;
  }
}

//Follow Section

ul.follow-links {
  overflow: auto;
  margin: 0;
}

.follow-link {
  @extend .small-2;
  list-style: none;
  float: left;
  padding: 0 10px;
}

//Contact

#contact {
  margin-bottom: 140px;
}

input#first-name, input#last-name, input#email {
  float: right;
  width: 100%;
  height: $contact-form-height / 3;
  border: none;
  padding-left: 20px;
  color: white;
}

.left-col {
  @extend .small-12, .medium-6;
  float: left;
}

.right-col {
  @extend .small-12, .medium-6;
  float: left;
}

#first-name {
  background-color: $primary-green;
  margin: 0;
  border:none;
}

#last-name {
  background-color: $primary-yellow;
  margin: 0;
  border:none;
}

#email {
  background-color: $primary-orange;
  margin: 0;
  border:none;
}

textarea.message {
  background-color: $primary-red;
  height: $contact-form-height;
  border: none;
  padding-left: 20px;
  color: white;
}

*::-webkit-input-placeholder {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
}

*:-moz-placeholder {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
}

*::-moz-placeholder {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
}

*:-ms-input-placeholder {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
}

button.submit {
  width: 230px;
  color: white;
  margin: auto;
  text-transform: uppercase;
  display: block;
  margin-top: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  letter-spacing: 1px;
}

//Spacers

span.spacer-green {
  @include color-seperator($primary-green);
}

span.spacer-yellow {
  @include color-seperator($primary-yellow);
}

span.spacer-red {
  @include color-seperator($primary-red);
}

span.spacer-blue {
  @include color-seperator($primary-blue);
}


