.lead-title {
  padding: 1em 0 0 0;
  margin: 0;
  line-height: 1em;
}

.sub-title {
  text-align: center;
}
#sa-partners {
  margin-top: 0;
  padding-top: 2em;
  padding-bottom: 1em;
}

#sa-videos, #sa-videos-heading {
  display: none;
  iframe {
    background: black;
    border: 1px black solid;
  }
}

#marketing-materials, #sa-videos-heading {
  padding-top: 2em;
  padding-bottom: 1em;
}

#student-artwork {
  margin-top: 0;
  padding-bottom: 1em;
}

.portfolio-story {
  @extend .small-10, .small-centered, .medium-8;
  margin: auto;
  padding: $section-spacing-mobile 0;
  text-align: justify;
  p:last-child {
    margin-bottom: 0;
  }
}

.portfolio-sample  {
  @extend .small-10, .small-centered;
  display: block;
  margin: auto;
  img {
    width: 100%;
  }
}

//set porportional width without javascript
.proportional-scaling {
  padding-bottom: 50%;
  height: 0;
  //firefox bug fix on zero height element
  @-moz-document url-prefix() {
    height: 100%;
    padding-bottom: 0;
  }
  .scaled-object {
    width: 100%;
    height: 100%;
  }
}

.why-art-matters {
  width: 100%;
  background: black;
}
