//Large screens
@media only screen and (min-width:40.063em) {

  html {
    font-size: $base-font-size*1.5;
  }

  //navigation

  #logo {
    display: block;
  }

  nav.top-bar {
    height: $top-bar-height;
    padding: 0 2em;
  }

  #menu-links a {
    line-height: $top-bar-height;
    letter-spacing: 1px;
  }

  //index

  .page-title {
    letter-spacing: 3px;
    font-size: 3em;
  }

  .sub-heading {
    padding-bottom: 60px;
  }

  .project {
    display: inline-block;
  }

 .portfolio-story {
    padding: 140px 0;
  }

  .project-group {
    display: -webkit-box;      /* iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* Firefox 19*/
    display: -ms-flexbox;      /* IE 10 */
    display: -webkit-flex;
    display: flex;
  }

  #follow {
    padding: 0 200px;
  }

  .follow-links {
    padding: 0 50px;
  }

  span[class^='spacer'] {
    margin: $section-spacing-tablet-up auto;
  }

  #contact {
    margin-bottom: 200px;
    padding-top: 110px;
  }

  #contact-offset {
    margin-bottom: 20px;
  }


  //work

  .filter-text {
    padding-left: 10px;
    padding-right: 80px;
  }

  .portfolio-filter {
    display: inline-block;
  }

  .filters {
    width: 80%;
  }

  .art {
    display: inline-block;
    margin: 10px;
    width: auto;
  }

  .album-caption {
      font-size: 0.8em;
  }

  .album-cover {
    height: 216px;
    width: auto;
  }

  .orbit-slides-container{
    top: 0;
  }

  #portfolio iframe {
    width: auto;
    height: 216px;
    float: left;
  }
}

