---
title: About
logo: "../img/MCC_logo_Yellow_Orange.png"
---
%section
  %h1.page-title Marisa Catalina Casey
  .about-me-wrapper.small-12.medium-10.small-centered
    %img.portrait(src="../img/feet.jpg")
    .narrative
      %p I help people and organizations to tell their stories.
      %p Working on projects in North America, South America, Europe, and Africa, I have shared stories about education, adoption, leadership, entrepreneurship, volunteerism, human rights, the arts, and the environment.
      %p Prior to serving as a Peace Corps Volunteer in Ecuador for two years, I ran Starting Artists, Inc., a nonprofit organization in Brooklyn, NY, training underserved youth in media arts and business.
  .clients
    %h3 I have worked with
    %img.client-list(src="../img/client_list.png")

