---
title: Peace Corps
logo: "../assets/images/MCC_logo_Green_Blue.png"
---

%img#splash(src="../assets/images/PeaceCorpsBannerSM.jpg")

%h1.lead-title Peace Corps
%p.sub-title Photography, Graphic Design, Video, Arts Education, Entrepreneurship

%p.portfolio-story The Peace Corps has three main goals: to help the people of interested countries in meeting their need for trained men and women, to promote a better understanding of Americans on the part of the peoples served, and to promote a better understanding of other peoples on the part of Americans. My husband and I were assigned to live in Palmar, Ecuador for two years as business advising and education volunteers through the Natural Resources Conservation Program.

.portfolio-sample=image_tag('MariPaulSmallBannerSM.jpg')

.portfolio-story
  %p We worked with Neo Juventud, the local youth foundation, to advise four micro-enterprises providing jobs and essential services to the community. In the process we helped to secure grants from Starbucks, Disney, and Youth Service America.
  %p I used photography and graphic design to launch businesses, to improve the existing ones, to promote Palmar as an eco-tourism site, and to teach arts and entrepreneurship to elementary through college-aged students at the Art & Design Center I helped to start.

.portfolio-sample=image_tag('PalmarCollageSM.jpg')

%p.portfolio-story Before and after service, I have used photography, graphic design, and writing to share my experiences. The 2013 Peace Corps Calendar I designed featured volunteer photographs and raised funds to support local projects. Regular blog entries at <a href="http://wwww.partnersforpeace.wordpress.com/category/peace-corps" target=”_blank”>partnersforpeace.wordpress.com</a>; an article in the Peace Corps Times; the video, “two years, four minutes;” and the board game I created delve deeper to provide a glimpse of what volunteer life is like.

.portfolio-sample.proportional-scaling
  %iframe.scaled-object{:allowfullscreen => "", :frameborder => "0",  :mozallowfullscreen => "", :src => "//player.vimeo.com/video/84488843", :webkitallowfullscreen => ""}

.portfolio-sample.divider=image_tag('ThirdGoalCollageSM.jpg')

