---
title: Starting Artists
logo: "../assets/images/MCC_logo_Green_Blue.png"
---

%img#splash(src="../assets/images/StartingArtistsBannerSM.jpg")
%h1.lead-title Starting Artists, Inc.
%p.sub-title Arts Education, Entrepreneurship

.portfolio-story
  %p Inspired by the creative and entrepreneurial projects I undertook myself as a teenager, I founded the 501(c)3 nonprofit arts organization, Starting Artists, Inc. (SA) in 2006 in Brooklyn, NY. For 5 years, SA benefited hundreds of under-served and under-represented New York City middle and high school youth through hands-on classes in the media arts and business.

  %p SA’s signature free Afterschool Program was complemented by Vacation Arts Intensives, master classes, community events, gallery shows, workshops, birthday parties, and field trips to some of NYC’s most vibrant media and cultural organizations.

%img#splash(src="../assets/images/SA_PhotosLineup-1.jpg")

%p.portfolio-story As SA’s Executive Director, I was responsible for hiring, fundraising, marketing, PR, program planning, teaching, mentoring, special events, liaising with the Board of Directors, and renovating a 1,700 square foot facility on Brooklyn’s thriving Smith St.

%img#splash(src="../assets/images/SA_PhotosLineup-2.jpg")

%h2.sub-title#marketing-materials Select Marketing Materials
.portfolio-sample=image_tag('SA-Featured-WebPrintGraphics_1.jpg')
.portfolio-sample=image_tag('SA-Featured-WebPrintGraphics-2.jpg')

%p.portfolio-story In my capacity as the public face of SA, I represented the organization at numerous conferences, panel discussions, and workshops including the American Express Nonprofit Leadership Institute, Lucca Leadership South Africa, Arts & Business Council of NY, the International Youth Foundation’s YouthActionNet Fellowship, and as a panelist for an Emerging Leaders of New York Arts discussion at WNYC.

%img#splash(src="../assets/images/SA_PhotosLineup-3.jpg")
.portfolio-story
  %p SA students learned directly from professional artists, designers, photographers, filmmakers, writers, actors, and dancers during the Afterschool Program, Vacation Arts Intensives, and through field trips to the New Museum, the Met, MTV, Channel 13, Martha Graham Center for Contemporary Dance, Signature Theatre Company, and Smack Mellon Gallery, among others.
  %p Supported by local government, private foundations, family foundations, corporations, and individual donors, SA was a semi-finalist for the Echoing Green Fellowship 2 years in a row. Its leadership as well as one of its student interns were honored with awards from Community Board 6 for their work on behalf of the community and SA’s entry into Americans for the Arts’ Why Arts Matter video contest won the Grand Prize - appearing on the MTV HD Billboard in Times Square.

%img#splash(src="../assets/images/SA_PhotosLineup-4.jpg")
.portfolio-story
  %p SA programs and workshops helped its participants to achieve their goals from winning awards and scholarships to preparing portfolios for college admission and for gaining entry into NYC’s select arts-based high schools including LaGuardia, Frank Sinatra, and Gramercy Arts.
  %p One of the few non schools participating, SA students were well represented at the Scholastic Art & Writing Awards, winning Gold, Silver and Bronze keys for photography, graphic design, mixed media, and animation. Today, SA participants are college students and professional artists, graphic designers, filmmakers, and performers.

%h2.sub-title#student-artwork Select Student Artwork
.portfolio-sample=image_tag('SA_Student_Artwork.jpg')

%h2.sub-title#sa-videos-heading  Videos
#sa-videos
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "361", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/129944236", :webkitallowfullscreen => "", :width => "33%"}
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "361", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/129944825", :webkitallowfullscreen => "", :width => "33%"}
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "361", :mozallowfullscreen => "", :src => "https://www.youtube.com/embed/lyA_w7Q9CaA", :webkitallowfullscreen => "", :width => "33%"}

%h2.sub-title#sa-partners Partners
.portfolio-sample=image_tag('SA_PartnerLogos.jpg')
