---
title: Why Arts Matter
logo: "../img/MCC_logo_Green_Yellow.png"
---

%img#splash(src="../img/times_banner.jpg")

%h1.lead-title Why arts Matter
%p.sub-title Photography, Video, Arts Education

%p.portfolio-story I created the “Art Is...” video with teenagers at Starting Artists, Inc. as an entry to Americans for the Arts’ Why Arts Matter video contest. The video won the Why Arts Matter Grand Prize: the opportunity to be shown on MTV’s HD 44 1/2 screen in Times Square. “Art Is...” played four times an hour for a week in Times Square.

.portfolio-sample.proportional-scaling
  %iframe.scaled-object{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/106988574", :webkitallowfullscreen => ""}
%p.portfolio-story I gave students the prompt, "Art is..." and their responses included "loud," "wonder," and "global." Then, they paired those words with some of their opposites and complements. Students chose photographs I took around New York City and matched them with the words, adding the type to the images in Photoshop. Quon, a Starting Artists intern, mixed the original soundtrack in GarageBand and we put it all together in iMovie.
.portfolio-sample=image_tag('WhyArtsMatterCollageSM.jpg')
