.portrait{
  @extend .small-12, .large-6, .small-centered;
  float: left;
  padding: 0 40px 50px 40px;
}

.narrative {
  @extend .small-12, .large-6, .small-centered;
  float: left;
  padding: 0 40px;
  p {
    font-size: 1.2em;
  }
}

.clients {
  clear: both;
  padding-top: 50px;
  h3 {
    padding-bottom: 50px;
  }
}

.client-list {
  @extend .small-10, .small-centered;
  margin: auto 8%;
}
