h2 {
  text-align: center;
  margin-bottom: $header-spacing;
  text-transform: uppercase;
}

body > section {
  padding-top: $section-spacing;
}

#splash {
  width: 100%;
  padding-bottom: $header-spacing;
}

#headline {
  max-width: 900px;
  p {
    font-size: 1.5em;
  }
}

.project {
  @extend .small-4;
  float: left;
  padding: 0 15px;
}

.follow-link {
  @extend .small-2;
  float: left;
  padding: 0 10px;
}

//Spacers
span.spacer-green {
  @include color-seperator($green);
}

span.spacer-yellow {
  @include color-seperator($yellow);
}

span.spacer-red {
  @include color-seperator($red);
}

span.spacer-blue {
  @include color-seperator($blue);
}
