@mixin color-seperator($color) {
  display: block;
  height: 5px;
  background-color: $color;
  width: 13%;
  margin: $section-spacing-mobile auto;
}

@mixin arrow($color) {
  width: 0;
  height: 0;
  display: inline-block;
  border-style: solid;
  border-width: 9px 0 9px 17px;
  border-color: transparent transparent transparent $color;
}
