//Large screens
@media only screen and (min-width:40.063em) {

  html {
    font-size: $base-font-size*1.5;
  }

  //navigation

  #logo {
    display: block;
  }

  nav.top-bar {
    height: $top-bar-height;
    padding: 0 2em;
  }

  #menu-links a {
    line-height: $top-bar-height;
    letter-spacing: 1px;
  }

  //index

  .page-title {
    letter-spacing: 3px;
    font-size: 3em;
  }

  .sub-heading {
    padding-bottom: 60px;
  }


  .project {
    display: inline-block;
  }

  .project-group {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;
    display: flex;
  }

  #follow {
    padding: 0 200px;
  }

  .follow-links {
    padding: 0 50px;
  }

  span[class^='spacer'] {
    margin: $section-spacing-tablet-up auto;
  }

  //work
  .filters {
    display: block;
  }

  img.photography, img.video, img.graphic-design {
    height: 216px;
    margin: 10px;
    width: auto;
    left: 0 !important;
  }

  #contact {
    margin-bottom: 200px;
    padding-top: 110px;
  }

  #contact-offset {
    margin-bottom: 20px;
  }

  .vimeo, .youtube {
    width: auto;
  }

  .orbit-slides-container{
    top: 0;
  }

  #portfolio iframe {
    padding: 14px;
    width: auto;
    float: left;
  }
}

//Medium Screens
@media only screen and (min-width:40.063em) and (max-width: 1120px) {

  #portfolio {
    width: 100%;
  }
  .filters {
    width: 350px;
  }

  .filter-wrapper{
    display: block;
  }
}
