//Colors
$red: #de4848;
$orange: #e1793d;
$yellow: #efc94c;
$green: #43b19c;
$blue: #017bb6;


//Spacing
$section-spacing: 100px;
$top-bar-height: 100px;
$logo-size: 60px;
$header-spacing: 50px;

//Global
$base-font-size: 18px;
