//Colors
$primary-red: #de4848;
$primary-orange: #e1793d;
$primary-yellow: #efc94c;
$primary-green: #43b19c;
$primary-blue: #017bb6;


//Spacing
$section-spacing-mobile: 60px;
$section-spacing-tablet-up: 120px;
$top-bar-height: 100px;
$logo-size: 40px;
$contact-form-height: 150px;

//Global
$base-font-size: 14px;
