//Colors
$red: #de4848;
$orange: #e1793d;
$yellow: #efc94c;
$green: #43b19c;
$blue: #017bb6;


//Spacing
$section-spacing-mobile: 60px;
$section-spacing-tablet-up: 120px;
$top-bar-height: 100px;
$logo-size: 40px;
$contact-form-height: 150px;

//Global
$base-font-size: 14px;
