---
logo: "../img/MCC_logo_Yellow_Orange.png"
---
%section
  %h1.full-name.small-12 Marisa Catalina Casey 
%section.narrative
  .small-full-page
    %img(src="../img/feet.jpg")
    %p I help people and organizations to tell their stories. 
    %p Working on projects in North America, South America, Europe, and Africa, I have shared stories about education, adoption, leadership, entrepreneurship, volunteerism, human rights, the arts, and the environment. 
    %p Prior to serving as a Peace Corps Volunteer in Ecuador for two years, I ran Starting Artists, Inc., a nonprofit organization in Brooklyn, NY, training underserved youth in media arts and business.
%section.clients
  .small-full-page
    %h3 I have worked with: 
    %img.small-full-page(src="../img/client_list.png")

