---
title: Blog
logo: "../img/MCC_logo_Blue_Green.png"
---

%section.blog-index
  %h1.page-title Blog

  %ul.blog-list
    %li.blog-post=link_to image_tag("BlogBannerSept13.png", class: "blog-post-photo"), 'http://partnersforpeace.wordpress.com/2014/09/13/hopscotch-design-festival-highlights/', target: "_blank"

    %li.blog-post=link_to image_tag("BlogBannerAugust19-01.jpg", class: "blog-post-photo"), 'http://partnersforpeace.wordpress.com/2014/08/19/i-heart-brock-davis/', target: "_blank"

    %li.blog-post=link_to image_tag("BlogBannerAugust18-01.jpg", class: "blog-post-photo"), 'http://partnersforpeace.wordpress.com/2014/08/18/printstagr-am/', target: "_blank"

    %li.blog-post=link_to image_tag("BlogBannerAugust14-01.jpg", class: "blog-post-photo"), 'http://partnersforpeace.wordpress.com/2014/08/14/ellen-hecks-forty-fridas-project/', target: "_blank"

    %li.blog-post=link_to image_tag("BlogBannerJuly25-01.jpg", class: "blog-post-photo"), 'http://partnersforpeace.wordpress.com/2014/07/25/play-with-your-food/', target: "_blank"

    %li.blog-post=link_to image_tag("BlogBannerJuly19-01.jpg", class: "blog-post-photo"), 'http://partnersforpeace.wordpress.com/2014/07/19/ken-heymans-photographs-of-mothers/', target: "_blank"
