---
logo: "../img/MCC_logo_Yellow_Orange.png"
---

%img#splash(src="../img/banner.jpg")

%section#headline
  .small-12.large-12
    %h2 I am a Storyteller
    %p I tell stories using images and words, capturing moments that are personal and memorable. My stories document everyday life, celebrate events, raise funds for mission-based organizations, and market small businesses.

%span.spacer-green

%section#projects
  %h2 Projects 
  %img.project(src="../img/pants.jpg")
  %img.project(src="../img/pants.jpg")
  %img.project(src="../img/pants.jpg")

%span.spacer-yellow

%section#blog
  %h2 Blog
  %img(src="../img/BlogBannerAugust14-01.jpg")

%span.spacer-red

%section#contact
  %h2 Contact
