---
title: "Marisa Catalina Casey - Home"
---

%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
 
    %li.toggle-topbar
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.right
      %li
        = link_to 'about', '/about'  
      %li
        = link_to 'work', '/work'  
      %li
        = link_to 'blog', '/blog'
      %li
        = link_to 'contact', '/contact'
