%img#splash(src="../img/MujeresCambiaPlayaBannerSM.jpg")
%h1.lead-title Mujeres: Cambia
%p.sub-title Photography, Graphic Design, Video, Entrepreneurship

%p.portfolio-story of my favorite projects as a Peace Corps Volunteer in Ecuador was working with Mujeres: Cambia, a women’s artisan cooperative that makes jewelry by hand from recycled materials. I taught the group best business practices, leading to over $25,000 in sales and an increase from five to eighteen active members able to support their low-income families.

.portfolio-sample=image_tag('MujeresCambiaWebsitePreviewSM.jpg')

%p.portfolio-story In addition to redesigning the bead-making and inventory processes, I used photography, graphic design, and writing to communicate the brand to various stakeholders including international boutiques, government agencies, individual customers, and online supporters.

.portfolio-sample=image_tag('MujeresCambiaCollageSM.jpg')
