%h1 what
%a.button.portfolio-filters all 
%a.button.portfolio-filters video
%a.button.portfolio-filters graphic design 
%a.button.portfolio-filters video
#portfolio
  %img.art.photography(src="http://placekitten.com/g/400/400")
  %img.art.photography(src="http://placekitten.com/g/200/200")
  %img.art.graphic-design(src="http://placekitten.com/g/400/400")
  %img.art.graphic-design(src="http://placekitten.com/g/400/400")
  %img.art.photography(src="http://placekitten.com/g/200/200")
  %img.art.video(src="http://placekitten.com/g/200/200")
  %img.art.photography(src="http://placekitten.com/g/400/400")
  %img.art.video(src="http://placekitten.com/g/200/200")
  %img.art.video(src="http://placekitten.com/g/200/200")
  %img.art.video(src="http://placekitten.com/g/200/200")
  %img.art.video(src="http://placekitten.com/g/200/200")
  %img.art.video(src="http://placekitten.com/g/200/200")
  %img.art.video(src="http://placekitten.com/g/200/200")
  %img.art.video(src="http://placekitten.com/g/200/200")
  %img.art.photography(src="http://placekitten.com/g/400/400")
